<footer>
   Created and maintained by <a href="https://github.com/sepen/pmikro" target="_blank">sepen</a>.
   Powered by <a href="http://www.ohloh.net/p/pmikro" target="_blank">pmikro</a>.
</footer>

</div>

<script>
document.querySelectorAll('#navpanel .item').forEach(item => {
        item.addEventListener('click', function() {
            // Remove 'active' class from all items
            document.querySelectorAll('#navpanel .item').forEach(i => i.classList.remove('active'));
    
            // Add 'active' class to the clicked item
            item.classList.add('active');
        });
    });
</script>

</body>
</html>