SetEnv APPNAME "pmikro"
SetEnv APPVERSION "2.0"
Options -Indexes
DirectoryIndex index.php
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^([^?]*)$ /index.php?req=$1 [NC,L,QSA]
</IfModule>
