body {
    font-size: 10pt;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-color: #444;
    color: #e4e4e4; /* Light text */
    text-align: center;
    margin: 0;
}

a {
    color: #8494cf; /* Light blue for links */
    text-decoration: none;
}

a:hover {
    color: #3153d4; /* White on hover */
}

img {
    border: 0;
}

code {
    background-color: #2e2e2e; /* Dark background for pre */
    padding: 0 2px;
    color: #e4e4e4; /* Light text for pre */
}

pre {
    background-color: #2e2e2e; /* Dark background for pre */
    padding: 10px;
    border: 2px solid #555;
    color: #e4e4e4; /* Light text for pre */
}

blockquote {
    border: 4px solid #555; /* Dark border for blockquote */
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-color: #8494cf;
    margin: 10px 0 0 20px;
    padding: 20px;
    font-size: small;
}

#page {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
}

header {
    padding: 10px;
    background-color: #15181B; /* Dark background for header */
}

#iconlogo {
    margin: 0 0;
    float: right;
    height: 40px;
    width: auto;
    border: none;
}

#navpanel {
    margin: 0 0;
    padding: 0 4px;
    border: none;
    background: #15181B;
}

#navpanel .item {
    margin: 10px;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    color: #444; /* Light text for items */
    cursor: pointer;
    transition: background-color 0.3s;
}

#navpanel .item:hover {
    background-color: #444; /* On hover */
}

#navpanel .item.active {
    border-color: #3153d4; /* Blue for active tab */
}

#navpanel a {
    color: #c0bbbb; /* Color for links in nav */
    font-weight: bold;
}

#navpanel a:hover {
    color: #1371d6; /* Blue hover for links */
}

#contents {
    padding: 30px 24px;
    background-color: #444; /* Dark background for contents */
    color: #e4e4e4; /* Light text */
    line-height: 1.5;
}

footer {
    text-align: center;
    display: block;
    padding: 14px 4px 10px 4px;
    color: #e4e4e4; /* Light text */
    background-color: #444; /* Dark background for header */
}