body {
  margin: 20px 60px;
  color: #333;
  background: #6a6a6a;
  font-size: 9pt;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

img {
  margin: 2px;
  border: 0px;
}

#page {
  width: 100%;
  background: #ffffff;
  min-width: 600px;
  border: 1px solid #1e2946;
  /* 
  ** uncomment these lines for round corners
  ** but break css validation
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  */
}

#page #header {
  padding: 2px;
  font-size: 16pt;
  font-weight: bold;
}

#page #navpanel {
  padding: 0px 10px;
  background: #1e2946;
}
#page #navpanel a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
#page #navpanel a:hover {
  text-decoration: underline;
}

#page #contents {
  padding: 10px;
}

#footer {
  margin: 10px;
}
