body {
  margin: 20px;
  font-size: 9pt;
  color: #1e2946;
}

img {
  margin: 2px;
  border: 0px;
}

#page {
  border: 1px solid gray;
  width: 100%;
  min-width: 600px;
  background: #1e2946;
}

#header {
  padding: 0px;
  font-size: 16pt;
  font-weight: bold;
  border-bottom: 1px solid #1e2946;
  background: white;
}

#navpanel {
  float: left;
  width: 100px;
  padding: 10px;
  color: white;
  background: #1e2946;
}
#navpanel a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#navpanel a:hover {
  text-decoration: underline;
}

#contents {
  float: top;
  margin-top: -17px;
  padding: 0px 10px 10px 140px;
  background: white;
}

#footer {
  margin: 10px;
}
